#reordenable {
    cursor: move;
}

.contenedor-totales {
    display: flex;
    justify-content: space-around;
    font-size: 26px;
    text-align: center;
}

.activo {
    color: blue !important;
}

.pasivo {
    color: red !important;
}

